# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode
*.orig

/bak
/resources
/resources*
/results
/networks
/benchmarks
/logs
/notebooks
/data
/cutouts

doc/_build

config.yaml

dconf
/data/links_p_nom.csv
/data/*totals.csv
/data/biomass*
/data/bundle-sector/emobility/
/data/bundle-sector/eea*
/data/bundle-sector/jrc*
/data/heating/
/data/bundle-sector/eurostat*
/data/odyssee/
/data/transport_data.csv
/data/bundle-sector/switzerland*
/data/.nfs*
/data/bundle-sector/Industrial_Database.csv
/data/retro/tabula-calculator-calcsetbuilding.csv
/data/bundle-sector/nuts*
data/gas_network/scigrid-gas/
data/costs_*.csv

dask-worker-space/
publications.jrc.ec.europa.eu/

*.org

*.nc

*~
/scripts/old

*.pyc
/cutouts
/tmp
/pypsa

*.xlsx

config.yaml

doc/_build

*.xls

*.geojson

*.ipynb

data/costs_*

merger-todos.md
