.snakemake*
.ipynb_checkpoints
__pycache__
gurobi.log
.vscode

/bak
/resources*
/results
/networks
/benchmarks
/logs
/notebooks
/data/links_p_nom.csv
/data/*totals.csv
/data/biomass*
/data/emobility/
/data/eea*
/data/jrc*
/data/heating/
/data/eurostat*
/data/odyssee/
/data/transport_data.csv
/data/switzerland*
/data/.nfs*
/data/Industrial_Database.csv
/data/retro/tabula-calculator-calcsetbuilding.csv
/data/nuts*

*.org

*.nc

*~
/scripts/old

*.pyc
/cutouts
/tmp
/pypsa

*.xlsx

config.yaml

doc/_build

*.xls

*.geojson
