# SPDX-FileCopyrightText: : 2022 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# Configuration is based on and overwrites 'default' configuration
extends: default

# Files to apply yamllint to
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  braces:
    # Do not allow flow mappings using curly braces "{" and "}"
    forbid: true
  brackets:
    max-spaces-inside: 0
    max-spaces-inside-empty: 0
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  # Force correct indentation of comments
  comments-indentation: {}
  # Do not require a specific document start marker
  document-start: disable
  document-end: disable
  empty-lines:
    max: 3
    max-end: 0
  indentation:
    spaces: consistent
    # Consistent indent-sequences clash with environment.yaml exported by conda
    indent-sequences: whatever
  # Disallow duplicate keys in listings
  key-duplicates: {}
  line-length:
    level: warning
    max: 88
  new-line-at-end-of-file: enable
  truthy:
    check-keys: false       # Disable truthy check hits on keys like "on": ...
