# SPDX-FileCopyrightText: Contributors to PyPSA-Eur <https://github.com/pypsa/pypsa-eur>
#
# SPDX-License-Identifier: MIT

[workspace]
authors = ["Contributors to PyPSA-Eur"]
channels = ["conda-forge", "bioconda", "gurobi"]
name = "pypsa-eur"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
version = "2025.07.0"

[tasks]

reset = """bash -c '
    read -p "Do you really wanna continue? This will remove all contents of \
logs, resources, benchmarks, results, and .snakemake directories except \
.gitkeep files (config/config.yaml will not be deleted) (y/n): " ans && \
    case $ans in \
        [Yy]*) \
            for dir in ./logs ./resources ./benchmarks ./results ./.snakemake; do \
                find "$dir" -mindepth 1 ! -name ".gitkeep" -delete 2>/dev/null || true; \
            done; \
            echo "Reset completed.";; \
        [Nn]*) \
            echo "Reset cancelled.";; \
        *) \
            echo "Please answer yes or no."; exit 1;; \
    esac'
"""

update-dags = """
	dot -c && \
	snakemake results/networks/base_s_128_elec_.nc -F --dag | sed -n "/digraph/,/}/p" | dot -Tpng -o doc/img/intro-workflow.png && \
	snakemake --rulegraph -F | sed -n "/digraph/,/}/p" | dot -Tpng -o doc/img/workflow.png
"""

generate-config = "python -c 'from scripts.lib.validation.config import generate_config_defaults, generate_config_schema; generate_config_defaults(); generate_config_schema()'"

[dependencies]
atlite = ">=0.3"
bokeh = ">=3.8.0"
cartopy = ">=0.25.0"
copernicusmarine = ">=2.2.4"
country_converter = ">=1.3.2"
dask = ">=2025.10.0"
descartes = ">=1.1.0"
entsoe-py = ">=0.7.8"
fiona = ">=1.10.1"
folium = ">=0.20.0"
geojson = ">=3.2.0"
geopandas = ">=1"
geopy = ">=2.4.1"
glpk = ">=5.0"
graphviz = ">=12.2.1"
gurobi = ">=12.0.3"
highspy = ">=1.12.0"
ipython = ">=9.7.0"
jpype1 = ">=1.6.0"
jupyter = ">=1.1.1"
libgdal-netcdf = ">=3.10.3"
linopy = ">=0.6.1"
lxml = ">=6.0.2"
matplotlib = ">=3.10.7"
memory_profiler = ">=0.61.0"
netcdf4 = ">=1.7.2,!=1.7.4"
networkx = ">=3.5"
numpy = ">=1.26.4"
openpyxl = ">=3.1.5"
pandas = ">=2.1"
plotly = ">=6.4.0"
powerplantmatching = ">=0.5.15"
pydantic = ">=2"
python-dotenv = ">=1.0"
pre-commit = ">=4.3.0"
proj = ">=9.6.2"
pylint = ">=4.0.2"
pydeck = ">0.6"  # pypsa fails to import with pydeck <0.6, lower bound was only added from pypsa 1.0.6
pypsa = ">=0.35.2"
pyscipopt = ">=5.6.0"
pytables = ">=3.10.2"
python = ">=3.10"
pytz = ">=2025.2"
pyxlsb = ">=1.0.10"
rasterio = ">=1.4.3"
rioxarray = ">=0.20.0"
ruff = ">=0.14.3"
"ruamel.yaml" = ">=0.18.0"
scipy = ">=1.16.3"
seaborn = ">=0.13.2"
shapely = ">=2.0"
snakemake-executor-plugin-cluster-generic = ">=1.0.9"
snakemake-minimal = ">=9"
snakemake-storage-plugin-http = ">=0.3"
tenacity = ">=9.1.2"
tqdm = ">=4.67.1"
tsam = ">=2.3.1"
xarray = ">=2024.3.0,<2025.7.0"
xlrd = ">=2.0.2"
yaml = ">=0.2.5"
snakemake-storage-plugin-cached-http = ">=0.2.1"
pandera = ">=0.28.1"
natsort = ">=8.4.0"
snakemake-logger-plugin-pypsa = ">=0.1.0"

[target.unix.dependencies]
snakemake-executor-plugin-slurm = ">=1.9.2"

[feature.doc.tasks.build-docs]
args = ["dir", {"arg" = "output", "default" = "html"}]
cmd = "dot -c && sphinx-build -T -b {{ output }} doc {{ dir }}/{{ output }} "

[feature.doc.dependencies]
atlite = "==0.4.1"
cartopy = "==0.25.0"
dask = "==2025.11.0"
descartes = "==1.1.0"
fiona = "==1.10.1"
graphviz = "==13.1.2"
matplotlib = "==3.10.7"
memory_profiler = "==0.61.0"
myst-parser = "==4.0.1"
powerplantmatching = "==0.7.1"
pydot = "==4.0.1"
pypsa = "==1.0.3"
pytables = "==3.10.2"
python = "==3.12.12"
pyyaml = "==6.0.3"
requests = "==2.32.5"
scikit-learn = "==1.7.2"
seaborn = "==0.13.2"
sphinx = "==8.2.3"
sphinx-book-theme = "==1.1.4"
sphinx-design = "==0.6.1"
sphinx-jsonschema = "==1.19.2"
sphinxcontrib-bibtex = "==2.6.5"
tabula-py = "==2.7.0"
tenacity = "==9.1.2"
tsam = "==2.3.9"

[feature.test.tasks]

integration-tests = """
    snakemake -call solve_elec_networks --configfile config/test/config.electricity.yaml &&
    snakemake -call --configfile config/test/config.overnight.yaml &&
    snakemake -call --configfile config/test/config.myopic.yaml &&
    snakemake -call resources/test-elec-clusters/networks/base_s_adm.nc --configfile config/test/config.clusters.yaml &&
    snakemake -call --configfile config/test/config.scenarios.yaml -n &&
    snakemake -call plot_power_networks_clustered --configfile config/test/config.tyndp.yaml &&
    echo "All tests completed successfully."
"""
clean-tests = """
    snakemake -call solve_elec_networks --configfile config/test/config.electricity.yaml --delete-all-output ;
    snakemake -call --configfile config/test/config.overnight.yaml --delete-all-output ;
    snakemake -call --configfile config/test/config.myopic.yaml --delete-all-output ;
    snakemake -call resources/test-elec-clusters/networks/base_s_adm.nc --configfile config/test/config.clusters.yaml --delete-all-output ;
    snakemake -call --configfile config/test/config.scenarios.yaml -n --delete-all-output ;
    snakemake -call plot_power_networks_clustered --configfile config/test/config.tyndp.yaml --delete-all-output ;
	echo "All test outputs have been cleaned up."
"""
unit-tests = "pytest test"

all-tests = {depends-on = ["integration-tests", "clean-tests", "unit-tests"]}

[feature.test.dependencies]
pytest = ">=8.4.2"

[environments]
doc = { features = ["doc"], no-default-feature = true }
test = ["test"]
