sphinx
sphinx_rtd_theme

pypsa>=0.14
vresutils>=0.2.5
powerplantmatching
atlite

cartopy
scikit-learn
pycountry
seaborn
memory_profiler
xarray
cartopy
fiona
pyproj
pyshp
geopandas
rasterio
shapely

git+https://github.com/PyPSA/glaes.git#egg=glaes
git+https://github.com/PyPSA/geokit.git#egg=geokit
