# SPDX-FileCopyrightText: : 2017-2024 The PyPSA-Eur Authors
# SPDX-License-Identifier: CC0-1.0

name: pypsa-eur
channels:
- conda-forge
- bioconda
- defaults
dependencies:
- _libgcc_mutex=0.1
- _openmp_mutex=4.5
- affine=2.4.0
- alsa-lib=1.2.12
- ampl-mp=3.1.0
- amply=0.1.6
- appdirs=1.4.4
- argparse-dataclass=2.0.0
- asttokens=2.4.1
- atk-1.0=2.38.0
- atlite=0.2.14
- attrs=24.2.0
- aws-c-auth=0.7.30
- aws-c-cal=0.7.4
- aws-c-common=0.9.28
- aws-c-compression=0.2.19
- aws-c-event-stream=0.4.3
- aws-c-http=0.8.9
- aws-c-io=0.14.18
- aws-c-mqtt=0.10.5
- aws-c-s3=0.6.5
- aws-c-sdkutils=0.1.19
- aws-checksums=0.1.18
- aws-crt-cpp=0.28.2
- aws-sdk-cpp=1.11.379
- azure-core-cpp=1.13.0
- azure-identity-cpp=1.8.0
- azure-storage-blobs-cpp=12.12.0
- azure-storage-common-cpp=12.7.0
- azure-storage-files-datalake-cpp=12.11.0
- beautifulsoup4=4.12.3
- blosc=1.21.6
- bokeh=3.5.2
- bottleneck=1.4.0
- branca=0.7.2
- brotli=1.1.0
- brotli-bin=1.1.0
- brotli-python=1.1.0
- bzip2=1.0.8
- c-ares=1.33.1
- c-blosc2=2.15.1
- ca-certificates=2024.8.30
- cads-api-client=1.3.2
- cairo=1.18.0
- cartopy=0.23.0
- cdsapi=0.7.3
- certifi=2024.8.30
- cffi=1.17.1
- cfgv=3.3.1
- cfitsio=4.4.1
- cftime=1.6.4
- charset-normalizer=3.3.2
- click=8.1.7
- click-plugins=1.1.1
- cligj=0.7.2
- cloudpickle=3.0.0
- coin-or-cbc=2.10.12
- coin-or-cgl=0.60.9
- coin-or-clp=1.17.10
- coin-or-osi=0.108.11
- coin-or-utils=2.11.12
- coincbc=2.10.12
- colorama=0.4.6
- conda-inject=1.3.2
- configargparse=1.7
- connection_pool=0.0.3
- contourpy=1.3.0
- country_converter=1.2
- cppad=20240000.5
- cycler=0.12.1
- cytoolz=0.12.3
- dask=2024.9.0
- dask-core=2024.9.0
- dask-expr=1.1.14
- datrie=0.8.2
- dbus=1.13.6
- decorator=5.1.1
- deprecation=2.1.0
- descartes=1.1.0
- distlib=0.3.8
- distributed=2024.9.0
- docutils=0.21.2
- double-conversion=3.3.0
- dpath=2.2.0
- entsoe-py=0.6.8
- et_xmlfile=1.1.0
- exceptiongroup=1.2.2
- executing=2.1.0
- expat=2.6.3
- filelock=3.16.0
- fiona=1.10.0
- fmt=11.0.2
- folium=0.17.0
- font-ttf-dejavu-sans-mono=2.37
- font-ttf-inconsolata=3.000
- font-ttf-source-code-pro=2.038
- font-ttf-ubuntu=0.83
- fontconfig=2.14.2
- fonts-conda-ecosystem=1
- fonts-conda-forge=1
- fonttools=4.53.1
- freetype=2.12.1
- freexl=2.0.0
- fribidi=1.0.10
- fsspec=2024.9.0
- gdal=3.9.2
- gdk-pixbuf=2.42.12
- geographiclib=2.0
- geojson=3.1.0
- geojson-rewind=1.1.0
- geopandas=1.0.1
- geopandas-base=1.0.1
- geopy=2.4.1
- geos=3.12.2
- geotiff=1.7.3
- gflags=2.2.2
- giflib=5.2.2
- gitdb=4.0.11
- gitpython=3.1.43
- glog=0.7.1
- glpk=5.0
- gmp=6.3.0
- graphite2=1.3.13
- graphviz=12.0.0
- gtk2=2.24.33
- gts=0.7.6
- h2=4.1.0
- harfbuzz=9.0.0
- hdf4=4.2.15
- hdf5=1.14.3
- highspy=1.7.2
- hpack=4.0.0
- humanfriendly=10.0
- hyperframe=6.0.1
- icu=75.1
- identify=2.6.1
- idna=3.10
- immutables=0.20
- importlib-metadata=8.5.0
- importlib_metadata=8.5.0
- importlib_resources=6.4.5
- iniconfig=2.0.0
- ipopt=3.14.16
- ipython=8.27.0
- jedi=0.19.1
- jinja2=3.1.4
- joblib=1.4.2
- jpype1=1.5.0
- json-c=0.17
- jsonschema=4.23.0
- jsonschema-specifications=2023.12.1
- jupyter_core=5.7.2
- kealib=1.5.3
- keyutils=1.6.1
- kiwisolver=1.4.7
- krb5=1.21.3
- lcms2=2.16
- ld_impl_linux-64=2.40
- lerc=4.0.0
- libabseil=20240116.2
- libaec=1.1.3
- libarchive=3.7.4
- libarrow=17.0.0
- libarrow-acero=17.0.0
- libarrow-dataset=17.0.0
- libarrow-substrait=17.0.0
- libblas=3.9.0
- libbrotlicommon=1.1.0
- libbrotlidec=1.1.0
- libbrotlienc=1.1.0
- libcblas=3.9.0
- libclang-cpp18.1=18.1.8
- libclang13=18.1.8
- libcrc32c=1.1.2
- libcups=2.3.3
- libcurl=8.10.0
- libdeflate=1.21
- libdrm=2.4.123
- libedit=3.1.20191231
- libegl=1.7.0
- libev=4.33
- libevent=2.1.12
- libexpat=2.6.3
- libffi=3.4.2
- libgcc=14.1.0
- libgcc-ng=14.1.0
- libgd=2.3.3
- libgdal=3.9.2
- libgdal-core=3.9.2
- libgdal-fits=3.9.2
- libgdal-grib=3.9.2
- libgdal-hdf4=3.9.2
- libgdal-hdf5=3.9.2
- libgdal-jp2openjpeg=3.9.2
- libgdal-kea=3.9.2
- libgdal-netcdf=3.9.2
- libgdal-pdf=3.9.2
- libgdal-pg=3.9.2
- libgdal-postgisraster=3.9.2
- libgdal-tiledb=3.9.2
- libgdal-xls=3.9.2
- libgfortran=14.1.0
- libgfortran-ng=14.1.0
- libgfortran5=14.1.0
- libgl=1.7.0
- libglib=2.80.3
- libglvnd=1.7.0
- libglx=1.7.0
- libgomp=14.1.0
- libgoogle-cloud=2.29.0
- libgoogle-cloud-storage=2.29.0
- libgrpc=1.62.2
- libhwloc=2.11.1
- libiconv=1.17
- libjpeg-turbo=3.0.0
- libkml=1.3.0
- liblapack=3.9.0
- liblapacke=3.9.0
- libllvm18=18.1.8
- libnetcdf=4.9.2
- libnghttp2=1.58.0
- libnsl=2.0.1
- libopenblas=0.3.27
- libparquet=17.0.0
- libpciaccess=0.18
- libpng=1.6.44
- libpq=16.4
- libprotobuf=4.25.3
- libre2-11=2023.09.01
- librsvg=2.58.4
- librttopo=1.1.0
- libscotch=7.0.4
- libspatialite=5.1.0
- libspral=2024.05.08
- libsqlite=3.46.1
- libssh2=1.11.0
- libstdcxx=14.1.0
- libstdcxx-ng=14.1.0
- libthrift=0.20.0
- libtiff=4.6.0
- libutf8proc=2.8.0
- libuuid=2.38.1
- libwebp-base=1.4.0
- libxcb=1.16
- libxcrypt=4.4.36
- libxkbcommon=1.7.0
- libxml2=2.12.7
- libxslt=1.1.39
- libzip=1.10.1
- libzlib=1.3.1
- linopy=0.3.14
- locket=1.0.0
- lxml=5.3.0
- lz4=4.3.3
- lz4-c=1.9.4
- lzo=2.10
- mapclassify=2.8.0
- markupsafe=2.1.5
- matplotlib=3.9.2
- matplotlib-base=3.9.2
- matplotlib-inline=0.1.7
- memory_profiler=0.61.0
- metis=5.1.0
- minizip=4.0.7
- mpfr=4.2.1
- msgpack-python=1.1.0
- multiurl=0.3.1
- mumps-include=5.7.3
- mumps-seq=5.7.3
- munkres=1.1.4
- mysql-common=9.0.1
- mysql-libs=9.0.1
- nbformat=5.10.4
- ncurses=6.5
- netcdf4=1.7.1
- networkx=3.3
- nodeenv=1.9.1
- nomkl=1.0
- nspr=4.35
- nss=3.104
- numexpr=2.10.0
- numpy=1.26.4
- openjpeg=2.5.2
- openpyxl=3.1.5
- openssl=3.3.2
- orc=2.0.2
- packaging=24.1
- pandas=2.2.2
- pango=1.54.0
- parso=0.8.4
- partd=1.4.2
- patsy=0.5.6
- pcre2=10.44
- pexpect=4.9.0
- pickleshare=0.7.5
- pillow=10.4.0
- pip=24.2
- pixman=0.43.2
- pkgutil-resolve-name=1.3.10
- plac=1.4.3
- platformdirs=4.3.3
- pluggy=1.5.0
- polars=1.7.1
- poppler=24.08.0
- poppler-data=0.4.12
- postgresql=16.4
- powerplantmatching=0.5.17
- pre-commit=3.8.0
- progressbar2=4.5.0
- proj=9.4.1
- prompt-toolkit=3.0.47
- psutil=6.0.0
- pthread-stubs=0.4
- ptyprocess=0.7.0
- pulp=2.8.0
- pure_eval=0.2.3
- py-cpuinfo=9.0.0
- pyarrow=17.0.0
- pyarrow-core=17.0.0
- pyarrow-hotfix=0.6
- pycountry=24.6.1
- pycparser=2.22
- pygments=2.18.0
- pyogrio=0.9.0
- pyparsing=3.1.4
- pyproj=3.6.1
- pypsa=0.30.2
- pyscipopt=5.1.1
- pyshp=2.3.1
- pyside6=6.7.2
- pysocks=1.7.1
- pytables=3.10.1
- pytest=8.3.3
- python=3.12.5
- python-dateutil=2.9.0
- python-fastjsonschema=2.20.0
- python-tzdata=2024.1
- python-utils=3.8.2
- python_abi=3.12
- pytz=2024.2
- pyxlsb=1.0.10
- pyyaml=6.0.2
- qhull=2020.2
- qt6-main=6.7.2
- rasterio=1.3.11
- re2=2023.09.01
- readline=8.2
- referencing=0.35.1
- requests=2.32.3
- reretry=0.11.8
- rioxarray=0.17.0
- rpds-py=0.20.0
- s2n=1.5.2
- scikit-learn=1.5.2
- scip=9.1.0
- scipy=1.14.1
- seaborn=0.13.2
- seaborn-base=0.13.2
- setuptools=73.0.1
- shapely=2.0.6
- six=1.16.0
- smart_open=7.0.4
- smmap=5.0.0
- snakemake-interface-common=1.17.3
- snakemake-interface-executor-plugins=9.2.0
- snakemake-interface-report-plugins=1.0.0
- snakemake-interface-storage-plugins=3.3.0
- snakemake-minimal=8.20.3
- snappy=1.2.1
- snuggs=1.4.7
- sortedcontainers=2.4.0
- soupsieve=2.5
- spdlog=1.14.1
- sqlite=3.46.1
- stack_data=0.6.2
- statsmodels=0.14.2
- tabulate=0.9.0
- tbb=2021.13.0
- tblib=3.0.0
- threadpoolctl=3.5.0
- throttler=1.2.2
- tiledb=2.26.0
- tk=8.6.13
- tomli=2.0.1
- toolz=0.12.1
- toposort=1.10
- tornado=6.4.1
- tqdm=4.66.5
- traitlets=5.14.3
- typing-extensions=4.12.2
- typing_extensions=4.12.2
- tzcode=2024b
- tzdata=2024a
- ukkonen=1.0.1
- unidecode=1.3.8
- unixodbc=2.3.12
- uriparser=0.9.8
- urllib3=2.2.2
- validators=0.34.0
- virtualenv=20.26.4
- wayland=1.23.1
- wcwidth=0.2.13
- wheel=0.44.0
- wrapt=1.16.0
- xarray=2024.9.0
- xcb-util=0.4.1
- xcb-util-cursor=0.1.5
- xcb-util-image=0.4.0
- xcb-util-keysyms=0.4.1
- xcb-util-renderutil=0.3.10
- xcb-util-wm=0.4.2
- xerces-c=3.2.5
- xkeyboard-config=2.42
- xlrd=2.0.1
- xorg-fixesproto=5.0
- xorg-inputproto=2.3.2
- xorg-kbproto=1.0.7
- xorg-libice=1.1.1
- xorg-libsm=1.2.4
- xorg-libx11=1.8.9
- xorg-libxau=1.0.11
- xorg-libxdmcp=1.1.3
- xorg-libxext=1.3.4
- xorg-libxfixes=5.0.3
- xorg-libxi=1.7.10
- xorg-libxrender=0.9.11
- xorg-libxtst=1.2.5
- xorg-libxxf86vm=1.1.5
- xorg-recordproto=1.14.2
- xorg-renderproto=0.11.1
- xorg-xextproto=7.3.0
- xorg-xproto=7.0.31
- xyzservices=2024.9.0
- xz=5.2.6
- yaml=0.2.5
- yte=1.5.4
- zict=3.0.0
- zipp=3.20.2
- zlib=1.3.1
- zlib-ng=2.2.1
- zstandard=0.23.0
- zstd=1.5.6
- pip:
  - oauthlib==3.2.2
  - ply==3.11
  - pyomo==6.8.0
  - requests-oauthlib==1.3.1
  - snakemake-executor-plugin-cluster-generic==1.0.9
  - snakemake-executor-plugin-slurm==0.10.2
  - snakemake-executor-plugin-slurm-jobstep==0.2.1
  - snakemake-storage-plugin-http==0.2.3
  - tsam==2.3.4
prefix: /usr/share/miniconda/envs/pypsa-eur
