# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

name: pypsa-eur
channels:
- bioconda
- http://conda.anaconda.org/gurobi
- conda-forge
- defaults
dependencies:
- _libgcc_mutex=0.1
- _openmp_mutex=4.5
- affine=2.4.0
- alsa-lib=1.2.8
- ampl-mp=3.1.0
- amply=0.1.5
- appdirs=1.4.4
- asttokens=2.2.1
- atlite=0.2.10
- attr=2.5.1
- attrs=22.2.0
- backcall=0.2.0
- backports=1.0
- backports.functools_lru_cache=1.6.4
- beautifulsoup4=4.11.2
- blosc=1.21.3
- bokeh=2.4.3
- boost-cpp=1.78.0
- bottleneck=1.3.6
- branca=0.6.0
- brotli=1.0.9
- brotli-bin=1.0.9
- brotlipy=0.7.0
- bzip2=1.0.8
- c-ares=1.18.1
- ca-certificates=2022.12.7
- cairo=1.16.0
- cartopy=0.21.1
- cdsapi=0.5.1
- certifi=2022.12.7
- cffi=1.15.1
- cfitsio=4.2.0
- cftime=1.6.2
- charset-normalizer=2.1.1
- click=8.1.3
- click-plugins=1.1.1
- cligj=0.7.2
- cloudpickle=2.2.1
- coin-or-cbc=2.10.8
- coin-or-cgl=0.60.6
- coin-or-clp=1.17.7
- coin-or-osi=0.108.7
- coin-or-utils=2.11.6
- coincbc=2.10.8
- colorama=0.4.6
- configargparse=1.5.3
- connection_pool=0.0.3
- country_converter=0.8.0
- cryptography=39.0.1
- curl=7.88.0
- cycler=0.11.0
- cytoolz=0.12.0
- dask=2023.2.0
- dask-core=2023.2.0
- datrie=0.8.2
- dbus=1.13.6
- decorator=5.1.1
- deprecation=2.1.0
- descartes=1.1.0
- distributed=2023.2.0
- distro=1.8.0
- docutils=0.19
- dpath=2.1.4
- entsoe-py=0.5.8
- et_xmlfile=1.1.0
- exceptiongroup=1.1.0
- executing=1.2.0
- expat=2.5.0
- fftw=3.3.10
- filelock=3.9.0
- fiona=1.9.1
- folium=0.14.0
- font-ttf-dejavu-sans-mono=2.37
- font-ttf-inconsolata=3.000
- font-ttf-source-code-pro=2.038
- font-ttf-ubuntu=0.83
- fontconfig=2.14.2
- fonts-conda-ecosystem=1
- fonts-conda-forge=1
- fonttools=4.38.0
- freetype=2.12.1
- freexl=1.0.6
- fsspec=2023.1.0
- gdal=3.6.2
- geographiclib=1.52
- geojson-rewind=1.0.2
- geopandas=0.12.2
- geopandas-base=0.12.2
- geopy=2.3.0
- geos=3.11.1
- geotiff=1.7.1
- gettext=0.21.1
- giflib=5.2.1
- gitdb=4.0.10
- gitpython=3.1.30
- glib=2.74.1
- glib-tools=2.74.1
- graphite2=1.3.13
- gst-plugins-base=1.22.0
- gstreamer=1.22.0
- gstreamer-orc=0.4.33
- harfbuzz=6.0.0
- hdf4=4.2.15
- hdf5=1.12.2
- heapdict=1.0.1
- humanfriendly=10.0
- icu=70.1
- idna=3.4
- importlib-metadata=6.0.0
- importlib_resources=5.10.2
- iniconfig=2.0.0
- ipopt=3.14.11
- ipython=8.10.0
- jack=1.9.22
- jedi=0.18.2
- jinja2=3.1.2
- joblib=1.2.0
- jpeg=9e
- json-c=0.16
- jsonschema=4.17.3
- jupyter_core=5.2.0
- kealib=1.5.0
- keyutils=1.6.1
- kiwisolver=1.4.4
- krb5=1.20.1
- lame=3.100
- lcms2=2.14
- ld_impl_linux-64=2.40
- lerc=4.0.0
- libaec=1.0.6
- libblas=3.9.0
- libbrotlicommon=1.0.9
- libbrotlidec=1.0.9
- libbrotlienc=1.0.9
- libcap=2.66
- libcblas=3.9.0
- libclang=15.0.7
- libclang13=15.0.7
- libcups=2.3.3
- libcurl=7.88.0
- libdb=6.2.32
- libdeflate=1.17
- libedit=3.1.20191231
- libev=4.33
- libevent=2.1.10
- libffi=3.4.2
- libflac=1.4.2
- libgcc-ng=12.2.0
- libgcrypt=1.10.1
- libgdal=3.6.2
- libgfortran-ng=12.2.0
- libgfortran5=12.2.0
- libglib=2.74.1
- libgomp=12.2.0
- libgpg-error=1.46
- libiconv=1.17
- libkml=1.3.0
- liblapack=3.9.0
- liblapacke=3.9.0
- libllvm15=15.0.7
- libnetcdf=4.8.1
- libnghttp2=1.51.0
- libnsl=2.0.0
- libogg=1.3.4
- libopenblas=0.3.21
- libopus=1.3.1
- libpng=1.6.39
- libpq=15.2
- librttopo=1.1.0
- libsndfile=1.2.0
- libspatialindex=1.9.3
- libspatialite=5.0.1
- libsqlite=3.40.0
- libssh2=1.10.0
- libstdcxx-ng=12.2.0
- libsystemd0=252
- libtiff=4.5.0
- libtool=2.4.7
- libudev1=252
- libuuid=2.32.1
- libvorbis=1.3.7
- libwebp-base=1.2.4
- libxcb=1.13
- libxkbcommon=1.5.0
- libxml2=2.10.3
- libxslt=1.1.37
- libzip=1.9.2
- libzlib=1.2.13
- linopy=0.1.3
- locket=1.0.0
- lxml=4.9.2
- lz4=4.3.2
- lz4-c=1.9.4
- lzo=2.10
- mapclassify=2.5.0
- markupsafe=2.1.2
- matplotlib=3.5.3
- matplotlib-base=3.5.3
- matplotlib-inline=0.1.6
- memory_profiler=0.61.0
- metis=5.1.0
- mpg123=1.31.2
- msgpack-python=1.0.4
- mumps-include=5.2.1
- mumps-seq=5.2.1
- munch=2.5.0
- munkres=1.1.4
- mysql-common=8.0.32
- mysql-libs=8.0.32
- nbformat=5.7.3
- ncurses=6.3
- netcdf4=1.6.2
- networkx=3.0
- nomkl=1.0
- nspr=4.35
- nss=3.88
- numexpr=2.8.3
- numpy=1.23.5
- openjdk=17.0.3
- openjpeg=2.5.0
- openpyxl=3.1.0
- openssl=3.0.8
- packaging=23.0
- pandas=1.5.3
- parso=0.8.3
- partd=1.3.0
- patsy=0.5.3
- pcre2=10.40
- pexpect=4.8.0
- pickleshare=0.7.5
- pillow=9.4.0
- pip=23.0
- pixman=0.40.0
- pkgutil-resolve-name=1.3.10
- plac=1.3.5
- platformdirs=3.0.0
- pluggy=1.0.0
- ply=3.11
- pooch=1.6.0
- poppler=22.12.0
- poppler-data=0.4.12
- postgresql=15.2
- powerplantmatching=0.5.6
- progressbar2=4.2.0
- proj=9.1.0
- prompt-toolkit=3.0.36
- psutil=5.9.4
- pthread-stubs=0.4
- ptyprocess=0.7.0
- pulp=2.7.0
- pulseaudio=16.1
- pure_eval=0.2.2
- pycountry=22.3.5
- pycparser=2.21
- pygments=2.14.0
- pyomo=6.4.4
- pyopenssl=23.0.0
- pyparsing=3.0.9
- pyproj=3.4.1
- pypsa=0.22.1
- pyqt=5.15.7
- pyqt5-sip=12.11.0
- pyrsistent=0.19.3
- pyshp=2.3.1
- pysocks=1.7.1
- pytables=3.7.0
- pytest=7.2.1
- python=3.10.9
- python-dateutil=2.8.2
- python-fastjsonschema=2.16.2
- python-utils=3.5.2
- python_abi=3.10
- pytz=2022.7.1
- pyxlsb=1.0.10
- pyyaml=6.0
- qt-main=5.15.8
- rasterio=1.3.4
- readline=8.1.2
- requests=2.28.2
- reretry=0.11.8
- rtree=1.0.1
- scikit-learn=1.2.1
- scipy=1.10.0
- scotch=6.0.9
- seaborn=0.12.2
- seaborn-base=0.12.2
- setuptools=67.3.2
- setuptools-scm=7.1.0
- setuptools_scm=7.1.0
- shapely=2.0.1
- sip=6.7.7
- six=1.16.0
- smart_open=6.3.0
- smmap=3.0.5
- snakemake-minimal=7.22.0
- snappy=1.1.9
- snuggs=1.4.7
- sortedcontainers=2.4.0
- soupsieve=2.3.2.post1
- sqlite=3.40.0
- stack_data=0.6.2
- statsmodels=0.13.5
- stopit=1.1.2
- tabula-py=2.6.0
- tabulate=0.9.0
- tblib=1.7.0
- threadpoolctl=3.1.0
- throttler=1.2.1
- tiledb=2.13.2
- tk=8.6.12
- toml=0.10.2
- tomli=2.0.1
- toolz=0.12.0
- toposort=1.9
- tornado=6.2
- tqdm=4.64.1
- traitlets=5.9.0
- typing-extensions=4.4.0
- typing_extensions=4.4.0
- tzcode=2022g
- tzdata=2022g
- unicodedata2=15.0.0
- unidecode=1.3.6
- unixodbc=2.3.10
- urllib3=1.26.14
- wcwidth=0.2.6
- wheel=0.38.4
- wrapt=1.14.1
- xarray=2023.2.0
- xcb-util=0.4.0
- xcb-util-image=0.4.0
- xcb-util-keysyms=0.4.0
- xcb-util-renderutil=0.3.9
- xcb-util-wm=0.4.1
- xerces-c=3.2.4
- xlrd=2.0.1
- xorg-fixesproto=5.0
- xorg-inputproto=2.3.2
- xorg-kbproto=1.0.7
- xorg-libice=1.0.10
- xorg-libsm=1.2.3
- xorg-libx11=1.7.2
- xorg-libxau=1.0.9
- xorg-libxdmcp=1.1.3
- xorg-libxext=1.3.4
- xorg-libxfixes=5.0.3
- xorg-libxi=1.7.10
- xorg-libxrender=0.9.10
- xorg-libxtst=1.2.3
- xorg-recordproto=1.14.2
- xorg-renderproto=0.11.1
- xorg-xextproto=7.3.0
- xorg-xproto=7.0.31
- xyzservices=2022.9.0
- xz=5.2.6
- yaml=0.2.5
- yte=1.5.1
- zict=2.2.0
- zipp=3.13.0
- zlib=1.2.13
- zstd=1.5.2
- pip:
  - countrycode==0.2
  - highspy==1.5.0.dev0
  - pybind11==2.10.3
  - tsam==2.2.2
  - vresutils==0.3.1
