# SPDX-FileCopyrightText: Contributors to PyPSA-Eur <https://github.com/pypsa/pypsa-eur>
#
# SPDX-License-Identifier: CC0-1.0

# requirements.in file to be used with package managers like pip or uv and the
# equivialent to 'envs/environment.yaml' for conda. 
# The locked version of this file is in `envs/locks/requirements.txt` and can is 
# regularly updated.

# To create a environment with uv, run:
# uv venv # (create new environment)
# uv pip sync envs/locks/requirements.txt # (install dependencies from locked file)

# WARNING
# The PyPSA-Eur workflow depends on non-Python packages like glpk, which cannot be 
# installed via uv or pip. You need to install them separately if you want to use
# this requirements file. To get a environment with all needed dependencies installed, 
# use conda/mamba (see 'envs/environment.yaml')

# Inhouse packages
pypsa>0.32.1
atlite>=0.3
linopy>=0.4.4
powerplantmatching>=0.5.15

# Dependencies of the workflow itself
dask[distributed]
xlrd
openpyxl
seaborn
snakemake>=9
memory_profiler
PyYAML
tables
lxml
numpy
pandas>=2.1
geopandas>=1
xarray>=2024.03.0
rioxarray
netcdf4
networkx
scipy
glpk
shapely>=2.0
matplotlib
proj
fiona
country_converter
geopy
tqdm
pytz
jpype1
pyxlsb
graphviz
geojson

# GIS dependencies:
cartopy
descartes
rasterio

# Development dependencies
jupyter
ipython
pre-commit
ruff
pylint

gurobipy
highspy
pyscipopt # See https://github.com/scipopt/PySCIPOpt/issues/944
tsam>=2.3.1
entsoe-py
snakemake-storage-plugin-http>=0.3
snakemake-executor-plugin-slurm
snakemake-executor-plugin-cluster-generic
