name: Test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
  - cron: "0 5 * * 1-6"
  - cron: "0 5 * * 0"
  workflow_dispatch:

# Cancel any in-progress runs when a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Unit
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v6

    - name: Setup Pixi
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.59.0
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'master' }}

    - name: Run pylint check on scripts
      if: (steps.filter.outputs.src == 'true' || github.event_name == 'schedule') && matrix.test == 'electricity'
      run: |
        pixi run pylint --disable=all --enable=E0601,E0606 --output-format=parseable scripts/add_* scripts/prepare_* scripts/solve_*

    - name: Run unit tests
      run: |
        pixi run unit-tests

  integration-tests:
    name: Integration - ${{ matrix.test }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: ${{ github.event.schedule == '0 5 * * 0' && fromJson('["ubuntu", "macos", "windows"]') || fromJson('["ubuntu", "macos"]') }}
        test: [electricity, scenarios, overnight, myopic, clusters, tyndp]
        exclude:
        - os: macos
          test: scenarios
        - os: macos
          test: overnight
        - os: macos
          test: myopic
        - os: macos
          test: clusters
        - os: macos
          test: tyndp
        - os: windows
          test: scenarios
        - os: windows
          test: overnight
        - os: windows
          test: myopic
        - os: windows
          test: clusters
        - os: windows
          test: tyndp
        include:
        - test: electricity
          snakemake_cmd: pixi run snakemake -call solve_elec_networks --configfile config/test/config.electricity.yaml
        - test: scenarios
          snakemake_cmd: pixi run snakemake -call --configfile config/test/config.scenarios.yaml -n
        - test: overnight
          snakemake_cmd: pixi run snakemake -call --configfile config/test/config.overnight.yaml
        - test: myopic
          snakemake_cmd: pixi run snakemake -call --configfile config/test/config.myopic.yaml
        - test: clusters
          snakemake_cmd: pixi run snakemake -call resources/test-elec-clusters/networks/base_s_adm.nc --configfile config/test/config.clusters.yaml
        - test: tyndp
          snakemake_cmd: pixi run snakemake -call plot_power_networks_clustered --configfile config/test/config.tyndp.yaml

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v6

    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          src:
            - 'scripts/**'
            - 'rules/**'
            - 'data/**'
            - 'Snakefile'
            - 'config/**'
            - 'pixi.toml'
            - 'pixi.lock'
            - '.github/workflows/test.yaml'

    - name: Skip - no source changes
      if: steps.filter.outputs.src != 'true' && github.event_name != 'schedule'
      run: echo "Skipping tests because no source code changes detected"

    - name: Free up disk space
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      run: |
        echo "Initial disk space"
        df -h
        echo "Free up disk space"
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
        sudo docker image prune --all --force
        sudo docker builder prune -a --force
        echo "Final disk space"
        df -h

    - name: Setup Pixi
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.59.0
        cache: true
        cache-write: ${{ github.event_name == 'push' && github.ref_name == 'master' }}

    - name: Setup cache keys
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      run: |
        echo "WEEK=$(date +'%Y%U')" >> $GITHUB_ENV # data
        echo "MONTH=$(date +'%Y%m')" >> $GITHUB_ENV # cutouts
        echo "VERSIONS_HASH=${{ hashFiles('data/versions.csv') }}" >> $GITHUB_ENV

    - uses: actions/cache@v5
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      with:
        path: data
        key: data-${{ env.WEEK }}-${{ env.VERSIONS_HASH }}

    - uses: actions/cache@v5
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      with:
        path: cutouts
        key: cutouts-${{ env.MONTH }}

    - name: Restore git-tracked files in data/
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      run: git checkout HEAD -- data/

    - name: Run snakemake test workflows
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      env:
        SNAKEMAKE_STORAGE_CACHED_HTTP_CACHE: ""
        SNAKEMAKE_STORAGE_CACHED_HTTP_SKIP_REMOTE_CHECKS: "1"
      run: |
        ${{ matrix.snakemake_cmd }}

    - name: Upload artifacts
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: results-${{ matrix.test }}-${{ matrix.os }}
        path: |
          logs
          .snakemake/log
          results
        retention-days: 3

    - name: Show remaining disk space
      if: steps.filter.outputs.src == 'true' || github.event_name == 'schedule'
      run: df -h
